@media only screen and (max-width: 700px) {

}

.encabezado {
    line-height: 0%;
    animation: encabezado ease 7s;
    -webkit-animation: encabezado ease 5s;
    -moz-animation: encabezado ease 5s;
    -o-animation: encabezado ease 5s;
    -ms-animation: encabezado ease 5s;
}

@keyframes encabezado {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes encabezado {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes encabezado {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes encabezado {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes encabezado {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#xtabite{
  margin: 0px 0px 35px 0px;
}  

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    text-align: center;
    animation-duration: 3s;
    animation-name: xtabite ;
}

h2 {
    text-align: center;
    font-family: monospace;
}

img{
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  padding: 0 10px;
}

figure{
  text-align: center;
}

nav {
  margin: 0px;
  background: #f9f9f9;
  padding: 0px;
}
nav .menuItems {
  list-style: none;
  display: flex;
}
nav .menuItems li {
  margin: 20px;
  float: left;
  width: 25%;
  text-align: center;
}
nav .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: capitalize;
}
nav .menuItems li a::before {
  content: attr(data-item);
  transition: 0.5s;
  color: #e49e4f;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0;
  overflow: hidden;
}
nav .menuItems li a:hover::before {
  width: 100%;
  transition: all 0.5s ease-in-out;
}